<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Worldee | Your Smart Travel Guide</title>
        {% load static %}
        <link rel="icon" href="{% static 'home/images/logo.png' %}">
        <link rel="stylesheet" href="{% static 'home/css/bootstrap.css'%}">
        <link rel="stylesheet" href="{% static 'home/css/main.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{% static 'home/js/jquery.js' %}"></script>
    </head>
    <body>
        <nav class="default">
          <ul>
            <a href="/">HOME</a>
            <a href="/travel">TRAVEL</a>
            <li class="sub-menu-parent" tabindex="0">
              <a href="#">ABOUT</a>
              <ul class="sub-menu outlined">
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/faq">FAQ</a></li>
              </ul>
            </li>
          </ul>
          <ul class="float-right">
            <li class="sub-menu-parent" tabindex="0">
              <a>&bull;&nbsp;&nbsp;<i class="fa fa-search"></i>&nbsp;&nbsp;&bull;</a>
                <ul class="sub-menu">
                  <li>
                    <input class="search-input" type="text" name="Search" placeholder="Search Site"/>
                  </li>
              </ul>
            </li>
            <a href=""><img class="social-img" src="{% static 'home/images/pinterest.svg'%}" width="20px" height="20px"/></a>
            <a href=""><img class="social-instagram" width="25px" height="25px "/></a>
            <a href=""><img class="social-img" src="{% static 'home/images/facebook.svg'%}" width="20px" height="20px"/></a>
            <a href=""><img class="social-img" src="{% static 'home/images/twitter.svg'%}" width="20px" height="20px"/></a>
          </ul>
        </nav>



        {% block content %}
        {% endblock %}

        <div class="footer">
          <img class="footer-img" src="{% static 'home/images/worldeefooter.png'%}"/>
        </div>

        <div class="footer-bottom">
          <hr />
          <p class="copyright">
            ALL RIGHTS RESERVED &copy;2017 WORLDEE APP
          </p>
          <p class="terms">
            <a href="/termsandconditions">TERMS AND CONDITIONS OF USE</a>
          </p>
          <p class="created-by">
            CREATED BY: <a href="https://www.oliver-sutton.com/portfolio">OLIVER SUTTON</a>
          </p>
        </div>

        <script>

          var isScrolled = false;

          $(".mobile").hide();

          console.log($(window).width())
          console.log($(window).height())

          $(function(){
            if($(window).width() < 900 || $(window).height() < 500) {
              $(".footer").hide();
              console.log($(window).height())
            }
          });

          $(window).resize(function(){
            if($(window).width() < 900 || $(window).height() < 500) {
              $(".footer").hide();
            }
          });

          $(window).on("scroll", function(){ resizeWorldeeFooter(); });

          function resizeWorldeeFooter(){

            let $win = $(window);

            if($win.scrollTop() < 5 && isScrolled) {
              $(".footer-img").animate({
                height: "40vh",
                width: "50vw"
              }, 500);
              $(".footer").animate({
                left: "25vw"
              }, 500);
              isScrolled = false
            } else if($win.scrollTop() > 5 && !isScrolled) {
              $(".footer-img").animate({
                height: "30vh",
                width: "40vw"
              }, 500, function(){
                $(".footer-img").stop();
              });
              $(".footer").animate({
                left: "30vw"
              }, 500, function(){
                $(".footer").stop();
              });
              isScrolled = true
            }
          }
        </script>
    </body>
</html>
