{% extends 'home/header.html' %}

{% block content %}

{% load static %}

<div class="container">

  <br />

  <img src="{% static 'home/images/worldeeheader.png'%}" width="80%" height="30%">
  <p class="header">
    Stop Wondering, Start Knowing
  </p>

  <br /><br /><br />

  <div class="ipad">
    <iframe width="80%" height="400px" src="https://www.youtube.com/embed/tyqMUJvJ43M?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <br /><br /><br />

</div>

<br /><br /><br />
<br /><br /><br />

<div class="images">
  <img src="{% static 'home/images/0.png' %}" width="300" height="580" />
  <img src="{% static 'home/images/1.png' %}" width="300" height="580" />
  <img src="{% static 'home/images/2.png' %}" width="300" height="580" />
  <img src="{% static 'home/images/3.png' %}" width="300" height="580" />
  <img src="{% static 'home/images/4.png' %}" width="300" height="580" />
  <img src="{% static 'home/images/5.png' %}" width="300" height="580" />
</div>

<br /><br /><br />
<br /><br /><br />

{% endblock %}
