{% extends 'home/header.html' %}

{% block content %}

{% load static %}

<!-- MODAL FOR EMAIL NEWS LETTER -->
<div class="modal fade" id="news-letter" tabindex="-1" role="dialog" aria-labelledby="Sign up to our news letter" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title m-header">SUBSCRIBE TO OUR NEWS LETTER</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>{% csrf_token %}
          <div class="form-group">
            <label for="message-text" class="col-form-label m-header">EMAIL</label>
            <input placeholder="example@example.com" type="text" class="form-control" id="email"></input>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="submit-no" type="button" class="btn btn-secondary">NO THANKS</button>
        <button id="submit-email" type="button" class="btn btn-primary">SIGN UP</button>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <br />

  <img src="{% static 'home/images/worldeeheader.png'%}" width="80%" height="30%">
  <p class="header">
    Stop Wondering, Start Knowing
  </p>

  <br /><br /><br />

  <div class="ipad">
    <iframe width="80%" height="400px" src="https://www.youtube.com/embed/tyqMUJvJ43M?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <br /><br /><br />

  <div class="carousel">
     <img src="{% static 'home/images/0.png' %}" alt="Image 1"/>
     <img src="{% static 'home/images/1.png' %}" alt="Image 2"/>
     <img src="{% static 'home/images/2.png' %}" alt="Image 3"/>
     <img src="{% static 'home/images/3.png' %}" alt="Image 4"/>
     <img src="{% static 'home/images/4.png' %}" alt="Image 5"/>
     <img src="{% static 'home/images/5.png' %}" alt="Image 6"/>
  </div>

</div>

<br /><br /><br />
<br /><br /><br />


<script src="{% static 'home/js/jquery.waterwheelCarousel.min.js' %}"></script>
<script>

  $(function(){

    var carousel = $('.carousel').waterwheelCarousel({
      flankingItems: 2,
      separation: 150,
      forcedImageHeight: 500,
      forcedImageWidth: 300,
      autoPlay: 5000,
    });

    if(localStorage.didEnterEmail == 'true') {
      $('#news-letter').remove();
    }

  })

  $("#submit-email").click(function(e){

    e.preventDefault();

    let email = $("#email").val();

    if(email == "") {
      $("#news-letter").remove();
      return;
    }

    $.ajax({
      url: "/submit_email",
      type: "POST",
      data: {
        email: email,
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
      }
    }).done(function(){
      $("#news-letter").modal('toggle');

      if(typeof(Storage) !== "undefined") {
        localStorage.didEnterEmail = true;
      }

    });

  });

  $("#submit-no").click(function(){

    if(typeof(Storage) !== "undefined") {
      localStorage.didEnterEmail = true;
    }

    $("#news-letter").modal('toggle');

  });

</script>

{% endblock %}
