{% extends 'home/header.html'%}

{% block content %}

<div class="pt-container">
  <p class="header">
    WORLDEE APP PRIVACY POLICY
  </p>
  <br /><br />
  <p class="content">
    This Privacy Policy (together with our App <a href="/termsandconditions">Terms and Conditions</a>) and any other documents referred to on it describes how CH Developments Limited, 10856047, of registered address 8th Floor Connect Centre, Kingston Crescent, Portsmouth, Hampshire, England, PO2 8QL (“BUSINESS NAME”, “we’, “us”) will process any personal data we collect from you, or which you provide to us, in the course of using Worldee (the “App”. It also describes the choices available to you regarding our use of your personal information and how you can access and update this information.
    <br /><br />
    For the purpose of the Data Protection Act 1998 we are a data controller.
    <br /><br />
    THE INFORMATION WE COLLECT
    <br /><br />
    When you download the App or use our Services, there are a number of ways in which you provide information and other data to us. You may be asked to provide us with the following personal information: 1) your full name, 2) email address, 3) chosen languages. By accessing the App, you consent to us processing and collecting this data, on the terms and for the reasons which are explained below.
    <br /><br />
    HOW YOUR INFORMATION IS USED
    <br /><br />
    As is true of most websites and apps, it will be possible to gather information about your computer or device such as your IP address, browser type, referring/exit pages, and operating system. This information may be used to:
    <br /><br />
    drive future product development in line with customer platform and technology use;
    respond to customer service requests;
    when you are using the App, send you push notifications. If you do not wish to receive these notifications, you can contact us at contact@worldeeapp.com to request no further notifications;
    send out a newsletter or occasional product alerts or marketing communications;
    improve the App and our marketing efforts; and/or
    respond to your questions and concerns.
    <br />
    Certain features of the App (such as uploading or downloading content) may need to access information on your device in order to work. By using such functionality, you consent to Worldee accessing your device and information. If we can, we will ask you before the App accesses your device or information. You may also manage how the App accesses your device or information using privacy settings on your mobile device or by uninstalling the App.
    <br /><br />
    HOW TO EDIT, DELETE OR ACCESS YOUR INFORMATION
    <br /><br />
    You have the right to ask for a copy of any personal information that we hold about you, to correct any inaccuracies and to update any out-of-date information. You can also ask us not to send you direct marketing communications (however please note that we may continue to send you service-related (i.e. non-marketing) communications). If you wish to exercise any of these rights, or wish to object to our use of your personal information, please write to us at contact@worldeeapp.com.
    <br /><br />
    SHARING YOUR INFORMATION
    <br /><br />
    Except as described below, we will not share your information with any third parties.
    We may disclose the information you provide us:
    <br />
    <ul class="sharing-info">
      <li>
        to any of our group companies (which means our subsidiaries, our ultimate holding company and its subsidiaries, as defined in section 736 of the UK Companies Act 1985);
      </li>
      <li>
        as required by law, any applicable regulation to protect the rights, property, or safety of ourselves or others. This may include disclosing
      </li>
      <li>
        to other companies and organisations in connection with fraud protection and credit risk reduction;
      </li>
      <li>
        when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request;
      </li>
    </ul>
    </p>
    <p class="content">
    If CH Developments Limited is involved in a merger, acquisition, or sale of all or a portion of its assets, to any prospective seller or buyer of all (or part of) our business or assets. You will be notified via email and/or a prominent notice on our website of any change in ownership or uses of your personal information, as well as any choices you may have regarding your personal information;
    to any other third party with your prior consent to do so.
    <br /><br />
    We will never pass your information to a third party for them to use in their own direct marketing without your express consent.
    Please note that if you click on, or follow, any links from the App to external websites, our privacy policy will no longer apply. Please check the privacy policies of any such external website or app before submitting any personal data, as we cannot accept any responsibility or liability in relation to them.
    <br /><br />
    SECURITY
    <br /><br />
    The security of your personal information is important to us. All information you provide to us is stored on secure servers. Any payment transactions will be encrypted using SSL technology.We will retain your information for as long as your account is active/ you have downloaded the app or as needed to provide you services via the App. Once your account/ the App has been deleted, we will only retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements. If you wish to cancel your account or request that we no longer hold your personal information, contact us at contact@worldeeapp.com.
    <br /><br />
    INTERNATIONAL TRANSFERS
    <br /><br />
    Information we collect may be transferred to, stored and/or processed in any country or territory where one or more of our partners or third party service providers (for example, our hosting company) are located or maintain facilities, including destinations outside the European Economic Area (“EEA”). While other territories may not have the same standards of data protection as those within your home country, we will take all reasonable steps to ensure that your data is treated securely and in accordance with this Privacy Policy. By submitting your personal data, you agree to this.
    <br /><br />
    YOUR RIGHTS
    <br /><br />
    You have the right to ask us not to process your personal data for marketing purposes. We will usually inform you (before collecting your data) if we intend to use your data for such purposes or if we intend to disclose your information to any third party for such purposes. You can exercise your right to prevent such processing by contacting us at contact@worldeeapp.com.
    <br /><br />
    The App may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.
    <br /><br />
    The Act and the GDPR give you the right to access information held about you. Your right of access can be exercised in accordance with the Act and the GDPR.
    <br /><br />
    You have the right to:
    <br />
    ACCESS to the information that we hold about you
    <br />
    BE INFORMED of what data we hold and the purpose for processing the data as a whole or in parts,
    <br />
    ERASURE – request to be forgotten (this is not an absolute right) by ourselves and our affiliates
    <br />
    RECTIFICATION – have any information that we hold about you that is incorrect or incomplete be rectified by ourselves and affiliates
    <br />
    RESTRICT PROCESSING of the information we hold about you (so that inaccuracies may be corrected etc)
    <br />
    OBJECT to the processing of your data
    <br />
    DATA PORTABILITY – you can obtain and reuse the information that we hold about you.
    <br /><br />
    You may revoke your consent at any time by emailing us.
    <br /><br />
    CONTACTING YOU
    <br /><br />
    We may contact you from time to time about Worldee, including marketing messages relating to Worldee. We will do this electronically, for example by email, text, notifications or other messages on your app or mobile device or by telephone.
    <br /><br />
    We may contact you with information about our products and services (and those of specially selected parties that may be of interest to you, in line with your marketing contact preferences provided to us either through the App or by emailing us. All such communications will come from CH Developments Limited.
    <br /><br />
    You may tell us at any time if you do not wish to receive marketing messages from us by contacting us at the email below or by following any instructions we may include in the messages we send to you.
    <br /><br />
    USE OF COOKIES AND OTHER INFORMATION
    <br /><br />
    Worldee uses cookies and similar technologies (‘cookies’) when you create an account, to authenticate you when you use the service, and to generally improve your experience on Worldee. By using Worldee, you accept our use of cookies as set out here. We use these cookies to collect information about your use of Worldee, for example, which areas you use most often and if you receive any error messages. This information helps us improve performance and your user experience and to develop our products and services for you and other users. This information may also be used to help us provide more meaningful and relevant communications to you. We also collect information about your device and use tools [such as an advertising identifier] to serve ads to you and to measure the effectiveness of our advertising.
    <br /><br />
    USE OF LOCATION DATA
    <br /><br />
    The App may make use of location data sent from your mobile device. You can turn off this functionality at any time by turning off the location services settings for Worldee on your mobile device. If you use these services, you consent to us and our partners’ and licensees’ transmission, collection, maintenance, processing and use of your location data and queries to provide and improve location-based and road traffic-based products and services. You may withdraw this consent at any time by turning off the location services setting on your mobile device or on Worldee. Additionally, we use Google Places and Wiki APIs. Please consult their Terms of Use and Privacy Policies for how they handle your information.
    <br /><br />
    Access to maps is subject to the following separate terms:
    <br />
    https://www.google.com/intl/en/policies/terms/
    <br /><br />
    Google places API privacy policy:
    <br />
    https://www.google.com/policies/privacy/
    <br /><br />
    CHANGES TO THIS PRIVACY POLICY
    <br /><br />
    We may update this Privacy Policy to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on the website http://www.worldeeapp.com prior to the change becoming effective. We encourage you to periodically review the website http://www.worldeeapp.com for the latest information on our privacy practices.
    <br /><br />
    This Privacy Policy and all changes made hereto as described in the previous paragraph remains effective unless and until we inform you otherwise via a push notification through the App, through email (sent to the e-mail address specified in your account) or by means of a notice on our website http://www.worldeeapp.com prior to the expiration of this Privacy Policy.
    <br /><br />
    CONTACT
    <br /><br />
    If you have any questions or comments about this Privacy Policy, you can contact us by email at the following email address: contact@worldeeapp.com. You can also use this address if you wish to request a copy of the personal data we hold about you.
    <br />
  </p>
  <br />
</div>

<script>
  $(function(){
    $(".footer").hide();
  });
</script>

{% endblock %}
