{% extends 'home/header.html' %}

{% block content %}
<div class="container">
  <p class="header">
    WORLDEE TERMS AND CONDITIONS
  </p>
  <br /><br />
  <p class="content">
    Thanks for downloading Worldee. Before using Worldee, please ensure that you read these Terms and Conditions and our <a href="/privacy">Privacy Policy</a>.
    <br /><br />
    This document (and the other documents it refers to) contains the terms and conditions on which you may download and use Worldee (the “App”), whether as a guest or a registered user (the “Terms”). The Terms are a legally binding contract between you and CH Developments Limited. The contract sets out your rights and responsibilities when you use the services provided by CH Developments Limited, which may include, but is not limited to, our mobile app, web application, website and any other services (collectively, the “Services”) so please read it carefully.
    <br /><br />
    You will be deemed to have accepted these Terms when you download the App and/ or whenever you use any of our Services.
    <br /><br />
    ABOUT US
    <br /><br />
    Worldee is a mobile app operated by CH Developments Limited (“BUSINESS NAME”, “we”, “our” or “us”). We are registered in England and Wales under company number 10856047. Our registered office address is 8th Floor Connect Centre, Kingston Crescent, Portsmouth, Hampshire, England, PO2 8QL and our email address is contact@worldeeapp.com
    <br /><br />
    YOUR PRIVACY
    <br /><br />
    We know your personal information is important to you, so it’s important to us. Our Privacy Policy details how your information is used when you use our Services, and it’s also a part of our Terms, so please read it here. By using the App, you consent to our processing of your personal information as described in our Privacy Policy, and you warrant that all data provided by you is accurate.
    <br /><br />
    CREATING AN ACCOUNT WITH WORLDEE
    <br /><br />
    You are required to create an account on Worldee to use the App’s services. Here are a few rules about creating and using accounts with Worldee.
    <br /><br />
    The information you provide to us must be accurate. You are not permitted to use false information or impersonate another person or company through your account and doing so if a breach of the Terms.
    <br /><br />
    You are responsible for your account. You are solely responsible for any activity on your account. If you’re sharing an account with other people, then the person who’s billing information is on the account will ultimately be responsible for all activity. If you register as a business entity, you personally guarantee that you have the authority to agree to the Terms on behalf of the business.
    <br /><br />
    As we mentioned above, you are solely responsible for any activity on your account, so it’s important to keep your account password and any device from which you access the Services secure. If accessing the Services via a mobile device, we recommend that you do not jailbreak or root the device (this is the process of removing software restrictions and limitations imposed by the official operating system of your device as doing so could make your device vulnerable to malware, viruses or malicious programmes, compromise your device’s security features and may affect the functionality of the Services.
    <br /><br />
    These Terms do not create any agency, partnership, joint venture, employment or franchisee relationship between you and CH Developments Limited.
    <br /><br />
    YOUR USE OF OUR SERVICES
    <br /><br />
    We allow access to our Services on a temporary basis and we reserve the right to withdraw, restrict or change our Services at any time and without notice. We will not be liable if for any reason the Services are unavailable at any time or if the content is changed or out of date.
    <br /><br />
    You must treat as confidential any user identification code, password or other security feature in relation to the Services. If, in our opinion, you aren’t complying with the Terms, we have the right to disable any such code, password or feature at any time.
    It is your responsibility that anyone who accesses the Services through your internet connection is aware of these terms and complies with them.
    <br /><br />
    We grant you a limited, non-exclusive, non-transferable and revocable licence to use the Services—subject to the Terms and the following restrictions:
    <br /><br />
    You agree that you will not violate any laws in connection with your use of the Services. This includes any local, national and international laws that may apply to you.
    <br />
    You are responsible for paying any fees or subscription payments that you owe to CH Developments Limited. You are also solely responsible for collecting and/or paying any applicable taxes for any purchases or sales you make through our Services.
    You agree not to “crawl,” “scrape,” or “spider” any aspect of the Services or to reverse engineer or attempt to obtain the source code of the Services. You shall not misuse the Services by knowingly introducing any material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to the Services, the server on which any of the Services are stored or any server, computer or database connected to the Services. You must not attack the Services via a denial-of-service attack or a distributed denial-of service attack. By failing to comply with this provision, you would commit a criminal offence and your right to use the Services will cease immediately and we will report your actions to the relevant authorities.
    <br /><br />
    You agree not to interfere with or try to disrupt the Services, for example by distributing a virus or other harmful computer code.
    The name Worldee and other marks, phrases, logos and designs that we use in connection with our Services, are trademarks, service marks or trade dress of CH Developments Limited in the UK and other countries. You require our express written permission to use our trademarks, service marks or trade dress.
    <br /><br />
    We will provide you with certain legal information in writing. By using our Services, you’re agreeing that we may provide you information electronically (by email, etc.) instead of mailing you paper copies, and that your electronic agreement is equal to your signature on paper.
    <br /><br />
    INTELLECTUAL PROPERTY RIGHTS
    <br /><br />
    Save as described elsewhere in the Terms, we are the owner or the licensee of all intellectual property rights in the Services and are protected by copyright laws and treaties around the world. All such rights are reserved.
    <br /><br />
    You must not use any part of the Services for commercial purposes without a licence from us or our licensors. You may not reproduce in any format (including on another website or mobile app) any aspect of the Services (including content, images, designs, look and feel) without our prior written consent.
    <br /><br />
    If, in our opinion, you are in breach of these provisions, your right to use the Services will cease immediately and you must either return or destroy (as required by us) any copies of the materials you have made.
    <br /><br />
    YOUR CONTENT
    <br /><br />
    Content that you post using our Services is your content, and includes (but is not limited to) anything you post using our Services such as usernames, profile pictures, photos, descriptions, reviews, comments, videos, etc (“Your Content”). CH Developments Limited does not make any claim to Your Content.
    <br />
    A. Responsibility for Your Content. You understand that you are solely responsible for Your Content. You represent that you have all necessary rights to Your Content and that you’re not infringing or violating any third party’s rights by posting it or uploading it to the App.
    <br />
    B. Permission to Use Your Content. By posting Your Content through our Services, you grant CH Developments Limited a licence to use it. We don’t claim any ownership to Your Content, but we have your permission to use it to help CH Developments Limited function and grow. That way, we won’t infringe any rights you have in Your Content and we can help promote Your Content.
    <br />
    C. Rights You Grant to us. By posting Your Content, you grant CH Developments Limited a non-exclusive, worldwide, royalty-free, irrevocable, sub-licensable, perpetual licence to use, display, edit, modify, reproduce, distribute, store, and prepare derivative works of Your Content to provide the Services and to promote CH Developments Limited or the Services in general, in any formats and through any channels, including across any CH Developments Limited Services or third-party website or advertising medium. Your Content will be considered non-confidential and nonproprietary and we have the right to use, copy, distribute and disclose it to third parties.
    <br />
    D. Reporting Unauthorized Content. We take intellectual property rights very seriously, and are committed to following appropriate legal procedures to remove infringing content from the Services. If content that you own or have rights to has been posted to the Services without your permission and you want it removed, please contact us at the email below. If Your Content infringes another person’s intellectual property, we will remove it if we receive proper notice. If any third party claims that any material posted or uploaded by you to the Services violates their intellectual property rights, or their right to privacy, we have the right to disclose your identity to them. We’ll notify you if that happens.
    <br />
    E. Inappropriate, False or Misleading Content. This should be common sense, but there are certain types of content we don’t want posted via the Services (for legal reasons or otherwise). You agree that you will not post any content that is abusive, threatening, defamatory, obscene, vulgar or otherwise offensive or in violation of our Terms. You also agree not to post any content that is false and misleading or uses the Services in a manner that is fraudulent or deceptive. We will not be responsible, or liable to any third party, for Your Content or the accuracy of any materials posted by you or any other user of the Services.
    <br /><br />
    ACCESSING THE SERVICES
    <br /><br />
    Certain functions of the Services, will require an active internet connection. The connection can be WiFi, or provided by a mobile network provider, however CH Developments Limited cannot take responsibility for the Services not working at full functionality if you do not have access to an active internet connection. In using the Services, you accept responsibility for any charges incurred for the cost of data for the duration of the connection while accessing the Services, or other third party charges, including roaming data charges. If you are not the bill payer for the device on which you’re accessing the Services, please be aware that we assume that you have received permission from the bill payer for using the Services.
    <br /><br />
    UPDATES TO THE APP
    <br /><br />
    The App is currently available on Android and iOS. The requirements for both systems (and for any additional systems we decide to extend the availability of the App to) may change, and you will need to download any necessary updates if you want to keep using the App. We do not promise to always update the App so that it is relevant to you and/ or works with the Android and iOS version that you have installed on your device. However, you agree to always accept updates to the App when offered to you.
    <br /><br />
    LIMITATION OF LIABILITY
    <br /><br />
    The Services are provided without any guarantees, conditions or warranties as to their accuracy or functionality. To the extent permitted by law, we hereby expressly exclude:
    <br /><br />
    All conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity.
    Any liability for any direct, indirect or consequential loss or damage incurred by any user in connection with our site or in connection with the use, inability to use, or results of the use of our site, any websites linked to it and any materials posted on it (whether by us or a third party), including, without limitation any liability for: loss of income or revenue; loss of business; loss of profits or contracts; loss of anticipated savings; loss of data; loss of goodwill; wasted management or office time; and for any other loss or damage of any kind, however arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable.
    <br />
    This does not affect any liability which cannot be excluded or limited under applicable law, including death and personal injury.
    <br /><br />
    RELIANCE ON INFORMATION AND LINKS
    <br /><br />
    Any content made available on the Services (including links to other sites, apps and resources provided by third parties) are for information only, and we shall not be liable for any use of, or reliance on, such materials. It shall be your own responsibility to ensure that any products, services or information available through the Services meet your specific requirements.
    <br /><br />
    TERMINATION
    <br /><br />
    You may terminate your account with Worldee or delete the App at any time. Terminating your account will not affect the availability of some of your content and any outstanding payments owed to us will still be payable.
    <br /><br />
    We may terminate or suspend your account (and any related accounts) and your access to the Services at any time, for any reason, and without advance notice. If we do so, it is important to understand that you don’t have a contractual legal right to continue to use our Services. We may refuse access to anyone at any time for any reason.
    <br /><br />
    If you or we terminate your account, you may lose any information associated with your account, including any content created by you.
    <br /><br />
    We reserve the right to change, suspend or discontinue any of the Services at anytime, for any reason. We will not be liable to you for the effect that any changes to the Services may have on you, including your income or your ability to generate revenue through the Services.
    <br /><br />
    The Terms will remain in effect even after your access to the Services is terminated or your use of the Services ends.
    <br /><br />
    INDEMNIFICATION (OR WHAT HAPPENS IF YOU GET US SUED)
    <br /><br />
    You agree to indemnify us from any legal claim or demand that arises from your actions, your use (or misuse) of the Services, your breach of the Terms or your account’s infringement of someone else’s rights.
    <br /><br />
    ENTIRE AGREEMENT
    <br /><br />
    These Terms, including all of the other documents that make up the Terms, supersede any other agreement between you and Android and iOS regarding the Services. If any part of the Terms is found to be unenforceable, that part will be limited to the minimum extent necessary so that the Terms will otherwise remain in full force and effect. Our failure to enforce any part of the Terms is not a waiver of our right to later enforce that or any other part of the Terms.
    <br /><br />
    CHANGES TO THE TERMS
    <br /><br />
    We may amend the Terms at any time by amending this page or, if we believe the changes are material, we will let you know by i) notifying you via the Services, or ii) sending you an email or messages about the changes. You are responsible for reviewing and becoming familiar with any changes. Your use of the Services following the changes constitutes your acceptance of the updated Terms.
    <br /><br />
    JURISDICTION AND APPLICABLE LAW
    <br /><br />
    The English courts will have exclusive jurisdiction over any claim arising from, or related to, a visit to our site.
    These terms of use and any dispute or claim arising out of or in connection with them or their subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with the law of England and Wales.
    <br /><br />
    CONTACT INFORMATION
    <br /><br />
    If you have any questions about the Terms, please email us at contact@worldeeapp.com.
    <br /><br />
    Last updated: 1st December 2017
  </p>
  <br />
</div>

<script>
  $(function(){
    $(".footer").hide();
  });
</script>

{% endblock %}
