{% block content %}

<div class="more-content">
  <p>Most Recent</p>
  <ul id="more-posts">
  </ul>
</div>

<script>

  $(function() {

    $.ajax({
      type: 'GET',
      url: 'get_more_posts',
      success: function(posts) {

        data = JSON.parse(posts);

        setBlogPosts(data);
      },
    });
  });

  function setBlogPosts(data) {

    for(item in data) {

      jsonObj = JSON.parse(data[item]);
      title = jsonObj.title;
      id = jsonObj.id;

      $("#more-posts").append(`<li><a href=\"${id}\">${title}</a></li><hr />`);

    }
  }

</script>

{% endblock %}
