{% block content %}

{% load static %}
<p class="header">TOP 3 POSTS</p>
<hr />
<div id="top-posts">
</div>
<script>

  $(function(){
    $.ajax({
      type: 'GET',
      url: 'get_top_posts',
      success: function(data){

        posts = JSON.parse(data)
        setTopPosts(posts);

      },
    });
  });

  function setTopPosts(posts){

    for(post in posts) {

      jsonObj = JSON.parse(posts[post]);
      id = jsonObj.id;
      img = jsonObj.img;

      $("#top-posts").append(`<a href="${id}"><div class="post"><img src="${img}"></div></a>`);
    }
  }

</script>

{% endblock %}
