{% extends 'home/header.html'%}

{% block content %}
<div class="container blog-container">
  <div class="blog">
    <p class="blog-title">{{ blog.title | upper }}</p>
    <img src="{{ blog.title_image }}"/>
    <p class="blog-type">{{ blog.type | upper }}</p>
    <p class="blog-teaser">{{ blog.body_teaser }}</p>
    <p class="blog-content">{{ blog.body | safe }}</p>
    <p class="blog-date">Posted on {{ blog.date | date:"d.m.y"}} by {{ blog.posted_by }}</p>
  </div>
</div>

{% include 'blog/more-posts.html' %}

<script>

  let topPlacement = parseInt($(".more-content").css("top"), 10)

  $(function(){
    $(".footer").hide();
    $(".blog-teaser").css("padding-top", +$(".blog-title").height() + 150);
  });

  $(window).scroll(function(){
    $(".more-content").css("top", topPlacement - parseInt($(window).scrollTop(), 10));
  });

</script>

{% endblock %}
